* {
 margin: 0;
 padding: 0;   
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;
}

input {
    min-width: 200px;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 10px;
    background-color:#b2b2b2;
    color: #fff;
}

.contact__name {
color: #fff;
}

.app {
    width: 80%;
    max-width: 1024px; 
    margin: 0 auto;
    
}

.contacts {
    background-color: rgb(178, 178, 178, 0.2);
    border-radius: 10px;
    border: 2px solid #50394c;
    padding: 10px;
    text-align: center;
}

.contact__header {
   display: flex; 
   flex-wrap: wrap;
   justify-content:center;
}

.contact__button {
    width: 30%;
    min-width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: #50394c;
    color: #fff;
    cursor: pointer;
    border: solid 3px transparent;
}

.contact__button:hover {
    background-color: transparent;
    border: solid 3px #50394c;
    color: #50394c;
}

.contact__content {
    margin-top: 30px;
    color: #50394c;

}

input::placeholder {
    color: #fff;
}

.contacts__item {
    background-color: rgb(255, 239, 150, 0.5);
    width: 70%;
    margin: 20px 0;
    border-radius: 10px;
    color: #50394c;
    list-style-type: none;
    text-align: left;
    padding:10px 10px 10px 10px;
}

.name,
.phone,
.address,
.email {
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: dashed 1px rgb(178, 178, 178);;
}

.bold {
    font-weight: bold;
}

.delete__button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(80, 57, 76, 0.5);
    border: none;
    width: 120px;
    cursor: pointer;
    color: rgb(255, 239, 150);
}

.delete__button:hover {
    box-shadow: 5px 5px 5px rgb(80, 57, 76);
}

